/* fade */
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* company */
.company {
  backface-visibility: hidden;
  z-index: 1;
}

.company-move {
  transition: all 600ms ease-in-out 50ms;
}

.company-enter-active {
  transition: all 400ms ease-out;
}

.company-leave-active {
  transition: all 200ms ease-in;
  position: absolute;
  z-index: 0;
}

.company-enter,
.company-leave-to {
  opacity: 0;
}
