@import 'node_modules/open-color/open-color.scss';

$--color-purple: #5b36ac;
$--color-charcoal-grey: #464052;
$--color-charcoal-grey-2: #363a42;
$--color-cool-grey: #a4a6b0;

$--color-text-primary: #333;
